body {
  background-color: rgb(255, 255, 255);
}
#randomNumber {
  font-size: 10rem;
  color: #099784;
}
#btnGenerateNumber {
  background-color: #099784;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

#btnGenerateNumber:hover {
  background-color: #16b9a4;
  transform: scale(1.1);
}

#btnGenerateNumber:active {
  transform: scale(1);
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
